In [1]:
from IPython.display import HTML

HTML('''<script>
code_show=true; 
function code_toggle() {
 if (code_show){
 $('div.input').hide();
 } else {
 $('div.input').show();
 }
 code_show = !code_show
} 
$( document ).ready(code_toggle);
</script>
<form action="javascript:code_toggle()"><input type="submit" value="Click here to toggle on/off the raw code."></form>''')

# CanCap Data Test
This jupyter notebook details the solutions to the CanCap Data Analyst test.
To inspect the code, click on the Toggle above.

In [2]:
##Import Libraries
import pandas as pd, numpy as np, matplotlib.pyplot as plt, seaborn as sns, ipywidgets as widgets
###plotly offline import
from plotly.offline import download_plotlyjs
###To work within the jupyter notebook
from plotly.offline import init_notebook_mode
from plotly.offline import plot, iplot
import plotly.express as px
import cufflinks as cf
###Initiate plotly notbook mode at the start of each notebook mode
init_notebook_mode(connected=True)
###Cufflinks can also be configured to run offline
cf.go_offline()

from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [3]:
##Set Matplotlib inline
%matplotlib inline

## Data Exploration - booked deals and loan performance schedule
First we import the loans booking data from the cancap_booked_deals CSV file

In [4]:
##Import the booked deals sheet as a dataframe
booked_deals = pd.read_excel("/Users/victornneji/Documents/cancap_booked_deals.xlsx", index_col = 0)
print("Booked Deals (Top 5 rows)")
booked_deals.head()

Booked Deals (Top 5 rows)

,ApplicationDate,CHANNEL,CustomerProvince,CustomScore,BureauScore1,BureauScore2,Customer ResidentType,CustomerProfiling,CustomerMonthlyDebt,CustomerMonthlyIncome,ContractDate,Loan Amount,Term,Rate
ID,,,,,,,,,,,,,,
1,2021-02-19,Channel D,ON,721,670.0,200,RENT,Past severe delinquency/bankruptcy,4500,4000,2021-02-19,2575.00,48,27.99
2,2021-04-01,Channel D,BC,676,622.0,579,RENT,Recent severe delinquency/bankruptcy,1000,2500,2021-04-05,2630.57,48,27.99
3,2021-01-04,Channel B,ON,646,611.0,641,OWN,Past severe delinquency/bankruptcy,3000,6000,2021-01-04,2575.00,48,27.99
4,2021-02-02,Channel D,AB,610,621.0,661,RENT,Recent severe delinquency/bankruptcy,1000,2000,2021-02-03,2623.07,48,27.99
5,2021-01-05,Channel B,ON,704,621.0,721,RENT,Past severe delinquency/bankruptcy,1000,2000,2021-01-06,2575.00,48,27.99

Then we import the loans performance data from the cancap_performance CSV file

In [5]:
##Import the performance dataset
performance = pd.read_excel("/Users/victornneji/Documents/cancap_performance.xlsx")
print("Loans Performance (Top 5 rows)")
performance.head()

Loans Performance (Top 5 rows)

   ID  Perf Date Booking Date  Balance  Days Past Due Days_delq
0   6 2021-01-31   2021-01-04  4028.76              0   CURRENT
1   6 2021-02-28   2021-01-04  3984.20              0   CURRENT
2   6 2021-03-31   2021-01-04  3946.09              0   CURRENT
3   6 2021-04-30   2021-01-04  3904.89              0   CURRENT
4   6 2021-05-31   2021-01-04  3865.30              0   CURRENT

## Enriching the Data

### Classifications and Encoding
Exploring the datasets, we can observe that there are opportunities to further classify the data based on the quantitative features. For instance, we may classify the booked deals based on the customer monthly income by using ranges. Same applies to the monthly debt, loan tenure and credit score.

In [6]:
#####
#booked_deals.info()

In [7]:
##Encoding and classification
##This is done to classify the numerical features based on bands and ranges

###Classify the score band using a function
def score_band(x):
    if (x <= 500):
        y = "500 and Below"
    elif (x >500 and x <=550):
        y = "501 - 550"
    elif (x >550 and x <=600):
        y = "551 - 600"
    elif (x >600 and x <=650):
        y = "601 - 650"
    elif (x >650 and x <=700):
        y = "651 - 700"
    elif (x >700 and x <=750):
        y = "701 - 750"
    elif (x >750 and x <=800):
        y = "751 - 800"
    else:
        y = "Above 800"
    return y

##Classify the Income Range using a function
def income_range(x):
    if (x <= 500):
        y = "500 and Below"
    elif (x >500 and x <=1500):
        y = "500 - 1500"
    elif (x >1500 and x <=2500):
        y = "1500 - 2500"
    elif (x >2500 and x <=3500):
        y = "2500 - 3500"
    elif (x >3500 and x <=4500):
        y = "3500 - 4500"
    elif (x >4500 and x <=5500):
        y = "4500 - 5500"
    elif (x >5500 and x <=6500):
        y = "5500 - 6500"
    elif (x >6500 and x <=7500):
        y = "6500 - 7500"
    elif (x >7500 and x <=8500):
        y = "7500 - 8500"
    else:
        y = "Above 8500"
    return y


##Classify the debt range using a function
def debt_range(x):
    if (x <= 500):
        y = "500 and Below"
    elif (x >500 and x <=1500):
        y = "500 - 1500"
    elif (x >1500 and x <=2500):
        y = "1500 - 2500"
    elif (x >2500 and x <=3500):
        y = "2500 - 3500"
    elif (x >3500 and x <=4500):
        y = "3500 - 4500"
    elif (x >4500 and x <=5500):
        y = "4500 - 5500"
    elif (x >5500 and x <=6500):
        y = "5500 - 6500"
    elif (x >6500 and x <=7500):
        y = "6500 - 7500"
    elif (x >7500 and x <=8500):
        y = "7500 - 8500"
    else:
        y = "Above 8500"
    return y


##Classify the loan term band using a function

def term_range(x):
    if (x <= 12):
        y = "12 and Below"
    elif (x >12 and x <=24):
        y = "12 - 24 Months"
    elif (x >24 and x <=36):
        y = "24 - 36 Months"
    elif (x >36 and x <=48):
        y = "36 - 48 Months"
    elif (x >48 and x <=60):
        y = "48 - 60 Months"
    
    else:
        y = "Above 60 Months"
    return y

In [8]:
###Apply the classification functions
booked_deals["CustomScoreBand"] = booked_deals["CustomScore"].apply(score_band)
booked_deals["CustomerIncomeBand"] = booked_deals["CustomerMonthlyIncome"].apply(income_range)
booked_deals["CustomerDebtBand"] = booked_deals["CustomerMonthlyDebt"].apply(debt_range)
booked_deals["TermBand"] = booked_deals["Term"].apply(term_range)

To analyse the bookings by month, we include columns to denote the month the loan was applied for (application date) and date it was disbursed (contract date).

In [9]:
booked_deals['ApplicationMonth'] = pd.to_datetime(booked_deals["ApplicationDate"]).dt.to_period('M').dt.to_timestamp()
booked_deals['ContractMonth'] = pd.to_datetime(booked_deals["ContractDate"]).dt.to_period('M').dt.to_timestamp()

We can also encode the customer's profiling by abbreviations to simplify the profiling terms

In [10]:
###Encode the Customer Profiling
customerProfilingMap = {'Other active':'OTA',
'Recent delinquency': 'RED',
'Recent severe delinquency/bankruptcy':'RSD',
'Thin file': 'THF',
'New to credit': 'NTC',
'No credit cards or inactive': 'NCC',
'No trades': 'NTR',
'Revolver': 'REV',
'Transactor': 'TRN',
'Unscorable (deceased or bureau no-hit)': 'UNSC',
'Past severe delinquency/bankruptcy': 'PSD'}

booked_deals['CustomerProfilingBand'] = booked_deals["CustomerProfiling"].map(customerProfilingMap)

Customer Resident Type has some missing values (NaN). We replace the missing values with 'NA'

In [11]:
booked_deals["Customer ResidentType"].fillna("NA", inplace=True)

Finally, we can obtain the loans' latest performance based on their payment schedules, and then classify the loans by their last delinquency status.

In [12]:
##To get the lates performance on the loans, we have to get the last Days deliquency on each loan per its schedule
performance_maxdate = performance.groupby(by = "ID").aggregate({"Perf Date":'max'}).reset_index()

In [13]:
performance_latest = pd.merge(left = performance_maxdate, right = performance, 
                              how = 'inner', on = ["ID", "Perf Date"]).set_index("ID")

In [14]:
##
##Add a deliquency band
deliquency_map = {'CURRENT':'CURRENT',
                 '1-30':'DELINQUENT',
                 '31-60': 'DELINQUENT',
                 '61-90': 'DELINQUENT',
                 '91-120': 'DELINQUENT',
                 '121-150': 'DELINQUENT',
                 '151-180': 'DELINQUENT',
                 'INSOLVENT': 'INSOLVENT',
                 'C/O': 'CHARGED OFF',
                 'PAID_OFF': 'PAID OFF'}
performance_latest['DaysDelqBand'] = performance_latest["Days_delq"].map(deliquency_map)

In [15]:
booking_and_performance = pd.merge(booked_deals, performance_latest, how = 'left', left_index=True, right_index = True)

### Merged and Cleaned Loan Booking and Performance Data
Applying these transformations and combining the booked deals with the latest loan performance, we end up with a dataset with loan details and performance.

In [16]:
#print("Merged and Cleaned Loan Booking and Performance Data")
booking_and_performance.head()

,ApplicationDate,CHANNEL,CustomerProvince,CustomScore,BureauScore1,BureauScore2,Customer ResidentType,CustomerProfiling,CustomerMonthlyDebt,CustomerMonthlyIncome,...,TermBand,ApplicationMonth,ContractMonth,CustomerProfilingBand,Perf Date,Booking Date,Balance,Days Past Due,Days_delq,DaysDelqBand
ID,,,,,,,,,,,,,,,,,,,,,
1,2021-02-19,Channel D,ON,721,670.0,200,RENT,Past severe delinquency/bankruptcy,4500,4000,...,36 - 48 Months,2021-02-01,2021-02-01,PSD,2022-06-30,2021-02-19,2039.11,0,CURRENT,CURRENT
2,2021-04-01,Channel D,BC,676,622.0,579,RENT,Recent severe delinquency/bankruptcy,1000,2500,...,36 - 48 Months,2021-04-01,2021-04-01,RSD,2022-06-30,2021-04-05,0.00,176,C/O,CHARGED OFF
3,2021-01-04,Channel B,ON,646,611.0,641,OWN,Past severe delinquency/bankruptcy,3000,6000,...,36 - 48 Months,2021-01-01,2021-01-01,PSD,2022-06-30,2021-01-04,1907.52,0,CURRENT,CURRENT
4,2021-02-02,Channel D,AB,610,621.0,661,RENT,Recent severe delinquency/bankruptcy,1000,2000,...,36 - 48 Months,2021-02-01,2021-02-01,RSD,2022-06-30,2021-02-03,2029.96,0,CURRENT,CURRENT
5,2021-01-05,Channel B,ON,704,621.0,721,RENT,Past severe delinquency/bankruptcy,1000,2000,...,36 - 48 Months,2021-01-01,2021-01-01,PSD,2022-06-30,2021-01-06,1899.68,0,CURRENT,CURRENT

### Charge-Off and Charge-Off Rates
Based on the performance schedule, we observe that some of the loans have been charged off, whether due to insolvency or delinquency.

In [17]:
chargeoff = pd.merge(performance, performance[performance["Days_delq"]=="C/O"].groupby(by = "ID").aggregate({"Perf Date":'min'}).reset_index(),
         how = "left", on = ["ID"])

chargeoff["RNK"] = chargeoff[chargeoff["Perf Date_y"]>=chargeoff["Perf Date_x"]].groupby("ID")["Perf Date_x"].rank(method="first", ascending=False)

In [18]:
chargeoff_data = chargeoff[(chargeoff["Perf Date_y"]>=chargeoff["Perf Date_x"]) & (chargeoff["RNK"]==2)]
chargeoff_data.set_index("ID", inplace=True)

Applying transformations, we can derive the loans that were charged off, the balance charged off, the date of charge off, and the reason for the chargeoff as below:

In [19]:
chargeoff_data.rename(columns = {"Perf Date_x":"Last Perf Date", 
                                 "Booking Date":"Booking Date", 
                                 "Balance":"Balance C/O", 
                                 "Days Past Due":"Days Past Due",
                                 "Days_delq":"ChargeOff_delq", 
                                 "Perf Date_y":"ChargeOff Date", 
                                 "RNK":"RNK"}, inplace=True)

chargeoff_data["ChargeOffReason"]=chargeoff_data["ChargeOff_delq"].apply(lambda x: "INSOLVENT" if x=="INSOLVENT" else "DELINQUENT")

In [20]:
chargeoff_data

,Last Perf Date,Booking Date,Balance C/O,Days Past Due,ChargeOff_delq,ChargeOff Date,RNK,ChargeOffReason
ID,,,,,,,,
7,2022-01-31,2021-01-04,2345.72,173,151-180,2022-02-28,2.0,DELINQUENT
14,2022-01-31,2021-01-04,2190.96,11,INSOLVENT,2022-02-28,2.0,INSOLVENT
22,2022-02-28,2021-01-05,2156.08,26,INSOLVENT,2022-03-31,2.0,INSOLVENT
24,2022-04-30,2021-01-05,2243.85,157,151-180,2022-05-31,2.0,DELINQUENT
12,2021-11-30,2021-01-06,2265.50,31,INSOLVENT,2021-12-31,2.0,INSOLVENT
...,...,...,...,...,...,...,...,...
5180,2022-05-31,2022-02-22,3045.32,54,INSOLVENT,2022-06-30,2.0,INSOLVENT
5231,2022-05-31,2022-02-28,2999.44,33,INSOLVENT,2022-06-30,2.0,INSOLVENT
5250,2022-05-31,2022-03-01,2075.00,75,INSOLVENT,2022-06-30,2.0,INSOLVENT
5310,2022-04-30,2022-03-03,10034.91,30,INSOLVENT,2022-05-31,2.0,INSOLVENT
5523,2022-05-31,2022-03-22,3545.17,33,INSOLVENT,2022-06-30,2.0,INSOLVENT

We can then combine the charged off data to the booking and performance data to get a master dataset with feature-enriched loan details.

In [21]:
booking_performance_chargeoff = pd.merge(booking_and_performance, chargeoff_data[["Last Perf Date", 
                                                                                  "Balance C/O",
                                                                                  "ChargeOff Date", 
                                                                                  "ChargeOff_delq", 
                                                                                  "ChargeOffReason" ]], 
         how = "left", right_index = True, left_index = True)

In [22]:
for x in ["Last Perf Date", "Balance C/O", "ChargeOff Date" ]:
    booking_performance_chargeoff[x] = booking_performance_chargeoff[x].astype(object)
    booking_performance_chargeoff[x].replace(np.nan, None, inplace = True)

for x in ["ChargeOff_delq", "ChargeOffReason"]:
    booking_performance_chargeoff[x].replace(np.nan, 'NA', inplace = True)
    
for x in ["Last Perf Date", "ChargeOff Date"]:
    booking_performance_chargeoff[x] = booking_performance_chargeoff[x].astype('datetime64[ns]')

booking_performance_chargeoff["Balance C/O"] = booking_performance_chargeoff["Balance C/O"].astype('float64')

In [23]:
delq_ln = []
for index, i in booking_performance_chargeoff.iterrows():
    if i["DaysDelqBand"] == "DELINQUENT":
        y = i["Balance"]
    else:
        y = np.nan
    delq_ln.append(y)
booking_performance_chargeoff["Delq_Balance"] = delq_ln

In [24]:
booking_performance_chargeoff.head()

,ApplicationDate,CHANNEL,CustomerProvince,CustomScore,BureauScore1,BureauScore2,Customer ResidentType,CustomerProfiling,CustomerMonthlyDebt,CustomerMonthlyIncome,...,Balance,Days Past Due,Days_delq,DaysDelqBand,Last Perf Date,Balance C/O,ChargeOff Date,ChargeOff_delq,ChargeOffReason,Delq_Balance
ID,,,,,,,,,,,,,,,,,,,,,
1,2021-02-19,Channel D,ON,721,670.0,200,RENT,Past severe delinquency/bankruptcy,4500,4000,...,2039.11,0,CURRENT,CURRENT,NaT,NaN,NaT,NA,NA,NaN
2,2021-04-01,Channel D,BC,676,622.0,579,RENT,Recent severe delinquency/bankruptcy,1000,2500,...,0.00,176,C/O,CHARGED OFF,2022-03-31,1419.19,2022-04-30,151-180,DELINQUENT,NaN
3,2021-01-04,Channel B,ON,646,611.0,641,OWN,Past severe delinquency/bankruptcy,3000,6000,...,1907.52,0,CURRENT,CURRENT,NaT,NaN,NaT,NA,NA,NaN
4,2021-02-02,Channel D,AB,610,621.0,661,RENT,Recent severe delinquency/bankruptcy,1000,2000,...,2029.96,0,CURRENT,CURRENT,NaT,NaN,NaT,NA,NA,NaN
5,2021-01-05,Channel B,ON,704,621.0,721,RENT,Past severe delinquency/bankruptcy,1000,2000,...,1899.68,0,CURRENT,CURRENT,NaT,NaN,NaT,NA,NA,NaN

In [25]:
##Get Categorical Variables
cat_columns = list(booking_performance_chargeoff.select_dtypes(object).columns)
##cat_columns

In [26]:
##Get Numerical Variables
num_columns = list(booking_performance_chargeoff.select_dtypes(['int64', 'float64']).columns)
##num_columns

In [27]:
### Ordering function
def col_order_fn(col):
    if (col == "CustomerDebtBand" or col == "CustomerIncomeBand"):
        col_order = ['500 and Below','500 - 1500', 
                     '1500 - 2500','2500 - 3500', 
                     '3500 - 4500', '4500 - 5500',
                     '5500 - 6500', '6500 - 7500',
                   '7500 - 8500', 'Above 8500']
    elif (col == "CustomScoreBand"):
        col_order = ['500 and Below','501 - 550',
                     '551 - 600', '601 - 650', 
                     '651 - 700','701 - 750', '751 - 800']
    elif (col == "TermBand"):
        col_order = ["12 and Below",
                     "12 - 24 Months",
                     "24 - 36 Months",
                     "36 - 48 Months",
                     "48 - 60 Months",
                     "Above 60 Months"]
    elif (col == "Days_delq"):
        col_order = ['CURRENT',
                 '1-30',
                 '31-60',
                 '61-90',
                 '91-120',
                 '121-150',
                 '151-180',
                 'INSOLVENT',
                 'C/O',
                 'PAID_OFF']
    else:
        col_order = sorted(booking_performance_chargeoff[col].unique().tolist())
    return col_order

## Data Visualisation - Aggregations and Central Tendencies
From the dataset, we can make explorations and derive insights about the booked deals and their respective performance.

With the charts below, we look at the booked deals data, analysing across different dimensions and measuring different metrics. The dimensions include channel, province, credit score, monthly income/ monthly debt band etc., applying aggregations and measures of central tendencies to the quantitative features.

In [28]:
cat_dropdown = widgets.Dropdown(options = cat_columns, value = cat_columns[0], description = "Dimension:")
num_dropdown = widgets.Dropdown(options = num_columns, value = num_columns[0], description = "Numeric Feature:")

ui = widgets.HBox([cat_dropdown,num_dropdown])


def draw_box_violin_plot(col, num):
    col_order = col_order_fn(col)
    
    plt.style.use('ggplot')
    fig,axes = plt.subplots(5,1, figsize = (11,19))
    plt.subplots_adjust(left=0.2,right = 0.3, top = 0.5, bottom = 0.3)
    p = sns.violinplot(data = booking_performance_chargeoff, 
                       x = col, y = num, ax= axes[4], 
                       order = col_order)
    q = sns.boxplot(data = booking_performance_chargeoff, 
                    x = col, y = num, ax= axes[3], 
                    order = col_order)
    r = sns.countplot(data = booking_performance_chargeoff, 
                      x = col, ax = axes[0], 
                      order = col_order)
    s = sns.barplot(data = booking_performance_chargeoff, 
                    x = col, y = "Loan Amount", 
                    estimator='sum', ax = axes[1], 
                    order = col_order)
    t = sns.barplot(data = booking_performance_chargeoff, 
                    x = col, y = "Balance", 
                    estimator='sum', ax = axes[2], 
                    order = col_order)
    #if (len(booked_deals[col].unique())>4):
    #    p.tick_params(axis = 'x', rotation = 90)
    axes[0].title.set_text(f'Booked Deals Count by {col}')
    axes[1].title.set_text(f'Total Loan Amount Value by {col}')
    axes[2].title.set_text(f'Total Balance by {col}')
    axes[3].title.set_text(f'Boxplot of {num} by {col}')
    axes[4].title.set_text(f'Violin Plot of {num} by {col}')

    plt.suptitle(f'Plots for {num} with respect to {col}\n')
    plt.tight_layout()
    #plt.show()

Select the dimension and the quantitative measure using the dropdowns below

In [29]:
out = widgets.interactive_output(draw_box_violin_plot, {'col':cat_dropdown, 'num':num_dropdown})   
display(ui, out)

HBox(children=(Dropdown(description='Dimension:', options=('CHANNEL', 'CustomerProvince', 'Customer ResidentTy…

Output()

## Data Visualisation - Loan Volume and Value by Selected Features
We can also investigate the volume and value of booked loans across dimensions using stacked charts.

In [30]:
cat1_dropdown = widgets.Dropdown(options = cat_columns, value = cat_columns[0], description = "1. Select a feature")
cat2_dropdown = widgets.Dropdown(options = cat_columns, value = cat_columns[1], description = "2. Select a feature")

ui_1 = widgets.HBox([cat1_dropdown,cat2_dropdown])


def draw_stacked_plot(col1, col2):
    #fig, axes = plt.subplots(2,1, figsize=(7,9))
    col_order = col_order_fn(col1)
    if col1==col2:
        
        p = px.bar(data_frame = booking_performance_chargeoff.groupby([col1])["Loan Amount"].count(),
                   title=f'Countplot of Loans by {col1}',
                   category_orders={col1:col_order} ,
                  color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Volume")
        q = px.bar(data_frame = booking_performance_chargeoff.groupby([col1])["Loan Amount"].sum(),
                   title=f'Countplot of Loans by {col1}', 
                   category_orders={col1:col_order} ,
                  color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Value")
        
        
    else:
        p = px.bar(data_frame = booking_performance_chargeoff.groupby([col1, 
                                 col2])["Loan Amount"].count().unstack(col2).fillna(0),barmode = 'relative',
               title=f'Loans Volume by {col1} and {col2}', 
                   category_orders={col1:col_order},
                  color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Volume")
                  
        q = px.bar(data_frame = booking_performance_chargeoff.groupby([col1, 
                                 col2])["Loan Amount"].sum().unstack(col2).fillna(0),barmode = 'relative',
               title=f'Loans Value by {col1} and {col2}', 
                   category_orders={col1:col_order},
                  color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Value")
       
    

    plt.tight_layout()
    p.show()
    q.show()

Select two categorical features to investigate the volume and value of loans disbursed

In [31]:
out_1 = widgets.interactive_output(draw_stacked_plot, {'col1':cat1_dropdown, 'col2':cat2_dropdown})   
try:
    display(ui_1, out_1)
except ValueError as error:
    print("An exception occurred:", error) 
    print("Cannot select the same feature twice. Select two different features")

HBox(children=(Dropdown(description='1. Select a feature', options=('CHANNEL', 'CustomerProvince', 'Customer R…

Output()

## Data Visualisation - Loans Application Trend by Selected Dimension
Finally, we examine the loan application trend (month-on-month) across dimensions

In [32]:
cat3_dropdown = widgets.Dropdown(options = cat_columns, value = cat_columns[0], description = "Select a feature")
ui_2 = widgets.HBox([cat3_dropdown])


def draw_line_plot(col1):


    p = px.line(data_frame = booking_performance_chargeoff.groupby(["ApplicationMonth", 
                                 col1])["Loan Amount"].count().unstack(col1).fillna(0),
                title=f'Count Trend of Loans Issued by {col1}').update_layout(xaxis_title=col1, yaxis_title="Volume")
    q = px.line(data_frame=booking_performance_chargeoff.groupby(["ApplicationMonth", 
                                 col1])["Loan Amount"].sum().unstack(col1).fillna(0), 
                title=f'Value Trend of Loans Issued by {col1}').update_layout(xaxis_title=col1, yaxis_title="Value")
    plt.tight_layout()
    p.show()
    q.show()

Select a categorical feature to plot the trend of loans disbursed with time

In [33]:
out_2 = widgets.interactive_output(draw_line_plot, {'col1':cat3_dropdown})   
try:
    display(ui_2, out_2)
except ValueError as error:
    print("An exception occurred:", error) 
    print("Cannot select the same feature twice. Select two different features")

HBox(children=(Dropdown(description='Select a feature', options=('CHANNEL', 'CustomerProvince', 'Customer Resi…

Output()

## Charge Off and Charge-Off Rate
Loans charged off may be due to insolvency or extended deliquency. We investigate the charge-off and charge-off rate using the charts below:

In [34]:
cat4_dropdown = widgets.Dropdown(options = cat_columns, value = cat_columns[0], description = "Select a feature")
ui_3 = widgets.HBox([cat4_dropdown])


def draw_chargeoff_plot(col1):

    col_order = col_order_fn(col1)
    charge_off_rate = booking_performance_chargeoff.groupby([col1]).aggregate({"Loan Amount":"sum",
                                                           "Balance":"sum",
                                                           "Balance C/O":"sum",
                                                            "Delq_Balance":"sum"})
    
    charge_off_rate["C/O Rate %"] = charge_off_rate["Balance C/O"]*100/charge_off_rate["Balance"]
    #charge_off_rate["Delq Rate %"] = charge_off_rate["Delq_Balance"]*100/charge_off_rate["Balance"]
    
    display(charge_off_rate)
    p = px.bar(height = 430, width = 950,data_frame=booking_performance_chargeoff.groupby([col1])["Balance C/O"].count(),
               title=f'Loans Charged Off by {col1}',category_orders={col1:col_order},
              color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Volume")
    
    q = px.bar( height = 430, width = 950,data_frame=booking_performance_chargeoff.groupby([col1])["Balance C/O"].sum(),
               title=f'Loan Balance Charged Off by {col1}',category_orders={col1:col_order},
              color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Value")
    
    

    r = px.bar(height = 430, width = 950,data_frame=charge_off_rate["C/O Rate %"],
               title=f'Charge-Off Rate by {col1}',category_orders={col1:col_order},
              color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="C/O Rate %")
    
     
    
    
    p.show()
    q.show()
    r.show()
    
    plt.tight_layout()

In [35]:
out_3 = widgets.interactive_output(draw_chargeoff_plot, {'col1':cat4_dropdown})   
try:
    display(ui_3, out_3)
except ValueError as error:
    print("An exception occurred:", error) 
    print("Cannot select the same feature twice. Select two different features")

HBox(children=(Dropdown(description='Select a feature', options=('CHANNEL', 'CustomerProvince', 'Customer Resi…

Output()

## Delinquency and Delinquency Rate
We can also investigate the delinquency and delinquency rate using the charts below:

In [36]:
cat5_dropdown = widgets.Dropdown(options = cat_columns, value = cat_columns[0], description = "Select a feature")
ui_4 = widgets.HBox([cat5_dropdown])


def draw_delq_plot(col1):

    col_order = col_order_fn(col1)
    
    charge_off_rate = booking_performance_chargeoff.groupby([col1]).aggregate({"Loan Amount":"sum",
                                                           "Balance":"sum",
                                                           "Balance C/O":"sum",
                                                            "Delq_Balance":"sum"})
    
    #charge_off_rate["C/O Rate %"] = charge_off_rate["Balance C/O"]*100/charge_off_rate["Balance"]
    charge_off_rate["Delq Rate %"] = charge_off_rate["Delq_Balance"]*100/charge_off_rate["Balance"]
    display(charge_off_rate)
    
    p = px.bar(height = 430, width = 950, data_frame=booking_performance_chargeoff.groupby([col1])["Delq_Balance"].count(),
               title=f'Delinquent Loan by {col1}',category_orders={col1:col_order},
              color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Volume")
    
    q = px.bar( height = 430, width = 950, data_frame=booking_performance_chargeoff.groupby([col1])["Delq_Balance"].sum(),
               title=f'Delinquent Loans Balance by {col1}',category_orders={col1:col_order},
              color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Value")
    s = px.bar(height = 430, width = 950, data_frame=charge_off_rate["Delq Rate %"],
               title=f'Delinquency Rate by {col1}',category_orders={col1:col_order},
              color_discrete_sequence=px.colors.qualitative.Antique).update_layout(xaxis_title=col1, yaxis_title="Delq Rate %")
    
    
    
    
    ###setup_ui(charge_off_rate)
    p.show()
    q.show()
    s.show()
    plt.tight_layout()
    plt.show()
    ##return charge_off_rate

In [37]:
out_4 = widgets.interactive_output(draw_delq_plot, {'col1':cat5_dropdown}) 
try:
    display(ui_4, out_4)
except ValueError as error:
    print("An exception occurred:", error) 
    print("Cannot select the same feature twice. Select two different features")

HBox(children=(Dropdown(description='Select a feature', options=('CHANNEL', 'CustomerProvince', 'Customer Resi…

Output()

In [38]:
#####
##Explore the booked deals dataset with the added features
#booked_deals.head()

In [39]:
#####
#booked_deals.describe()

In [40]:
#####
#booked_deals.info()

In [41]:
#####
#performance.info()

In [42]:
#####
#performance_latest.head()

In [43]:
###booking_performance_chargeoff[booking_performance_chargeoff["Customer ResidentType"].isin([np.NaN])]